<coordinator-layout>
    <app-bar>
     <ion-toolbar primary> 
            <ion-buttons left>
                <button>
                    <ion-icon name="arrow-back"></ion-icon>
                </button>
            </ion-buttons>
            <ion-title>Ionic Title</ion-title>
            <ion-buttons end>
                <button> 
                    <ion-icon name="more"></ion-icon>
                </button>
            </ion-buttons>
        </ion-toolbar>
    </app-bar>
    <ion-content>
        <ion-card>
            <ion-item>
                <ion-avatar item-left>
                    <img src="img/sarah-avatar.png.jpeg">
                </ion-avatar>
                <h2>Sarah Connor</h2>
                <p>May 12, 1984</p>
            </ion-item>

            <img src="img/advance-card-tmntr.jpg">

            <ion-card-content>
                <p>I face the unknown future, with a sense of hope. Because if a machine, a Terminator, can learn the value
                    of human life, maybe we can too.</p>
            </ion-card-content>

            <ion-item>
                <button primary clear item-left>
                    <ion-icon name='thumbs-up'></ion-icon>
                    <div>30 Likes</div>
                </button>
                <button primary clear item-left>
                    <ion-icon name='text'></ion-icon>
                    <div>64 Comments</div>
                </button>
                <ion-note item-right>
                    30yr ago
                </ion-note>
            </ion-item>
        </ion-card>
        
        <ion-card>
            <ion-item>
                <ion-avatar item-left>
                    <img src="img/sarah-avatar.png.jpeg">
                </ion-avatar>
                <h2>Sarah Connor</h2>
                <p>May 12, 1984</p>
            </ion-item>

            <img src="img/advance-card-tmntr.jpg">

            <ion-card-content>
                <p>I face the unknown future, with a sense of hope. Because if a machine, a Terminator, can learn the value
                    of human life, maybe we can too.</p>
            </ion-card-content>

            <ion-item>
                <button primary clear item-left>
                    <ion-icon name='thumbs-up'></ion-icon>
                    <div>30 Likes</div>
                </button>
                <button primary clear item-left>
                    <ion-icon name='text'></ion-icon>
                    <div>64 Comments</div>
                </button>
                <ion-note item-right>
                    30yr ago
                </ion-note>
            </ion-item>
        </ion-card>
        
        <ion-card>
            <ion-item>
                <ion-avatar item-left>
                    <img src="img/sarah-avatar.png.jpeg">
                </ion-avatar>
                <h2>Sarah Connor</h2>
                <p>May 12, 1984</p>
            </ion-item>

            <img src="img/advance-card-tmntr.jpg">

            <ion-card-content>
                <p>I face the unknown future, with a sense of hope. Because if a machine, a Terminator, can learn the value
                    of human life, maybe we can too.</p>
            </ion-card-content>

            <ion-item>
                <button primary clear item-left>
                    <ion-icon name='thumbs-up'></ion-icon>
                    <div>30 Likes</div>
                </button>
                <button primary clear item-left>
                    <ion-icon name='text'></ion-icon>
                    <div>64 Comments</div>
                </button>
                <ion-note item-right>
                    30yr ago
                </ion-note>
            </ion-item>
        </ion-card>
        
        <ion-card>
            <ion-item>
                <ion-avatar item-left>
                    <img src="img/sarah-avatar.png.jpeg">
                </ion-avatar>
                <h2>Sarah Connor</h2>
                <p>May 12, 1984</p>
            </ion-item>

            <img src="img/advance-card-tmntr.jpg">

            <ion-card-content>
                <p>I face the unknown future, with a sense of hope. Because if a machine, a Terminator, can learn the value
                    of human life, maybe we can too.</p>
            </ion-card-content>

            <ion-item>
                <button primary clear item-left>
                    <ion-icon name='thumbs-up'></ion-icon>
                    <div>30 Likes</div>
                </button>
                <button primary clear item-left>
                    <ion-icon name='text'></ion-icon>
                    <div>64 Comments</div>
                </button>
                <ion-note item-right>
                    30yr ago
                </ion-note>
            </ion-item>
        </ion-card>
    </ion-content>
</coordinator-layout>