toolbar-fade-header {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 99;
    height: 205px;
} 

toolbar-header-picture img {
    height: 100%;
    display: block;
}

toolbar-background {
    display: block;
    
    background-color: rgba(56,126,245, 0);
}

// toolbar-fade-header .toolbar .toolbar-background {
//     background: rgba(56,126,245, 0) !important;
//     transition: background 0.2s ease-in-out;
// }  

// toolbar-fade-header .toolbar .toolbar-background.fill {
//     background: rgba(56,126,245, 1) !important;
//     transition: background 0.3s ease-in-out;
// }

toolbar-fade-header .toolbar { overflow: visible; position: fixed; top: 0px; transform: translate3d(0, 0px, 0); -webkit-transform: translate3d(0, 0px, 0); }
toolbar-fade-header .toolbar-background { height: 205px; -webkit-transform: translateZ(0); transform: translateZ(0);}
toolbar-fade-header .toolbar-content { position: relative; }
toolbar-fade-header ion-title { 
    position: relative; 
    transform-origin: calc(-1.5%);
    --webkit-transform-origin: calc(-1.5%);
    transform: translate3d( 0, calc(100% - 56px), 0) scale3d(1,1,1);
    -webkit-transform:translate3d( 0, calc(100% - 56px), 0) scale3d(1,1,1);
}

toolbar-fade-header.top .toolbar-title {
    transform: scale(1, 1);
    top: 0px !important;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    //transition: all 0.2s ease-in-out;
}
toolbar-fade-header.top .toolbar,
toolbar-fade-header.top toolbar-background  {
    height: 56px !important;
}


toolbar-fade-header.hide-toolbar .toolbar {
    transform: translate3d(0, -56px, 0);
    -webkit-transform: translate3d(0, -56px, 0);
    transition: transform 0.2s ease-in-out;
    -webkit-transition: transform 0.2s ease-in-out;
}

toolbar-fade-header.show-toolbar .toolbar {
    transform: translate3d(0, 0px, 0);
    -webkit-transform: translate3d(0, 0px, 0);
    transition: transform 0.2s ease-in-out;
    -webkit-transition:  transform 0.2s ease-in-out;
    
}

toolbar-fade-header .toolbar .toolbar-background.fill .parallax-container {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.parallax-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    
}
.parallax {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.parallax img {
    
    position: absolute;
    left: 50%;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}